<a href="https://colab.research.google.com/github/Catherine-Elkin/How.To.Be.A.Data.Scientist/blob/main/workbook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# How To Be A Data Scientist: Python 101 Workbook 
This is a blank Jupyter notebook file for you to work on and try out some of the things that you will be shown throughout the course. 

### Why not try:
* Importing a dataset
* Cleaning a dataset
* Making some surface level stats (mean, median, mode) into a table
* Creating some graphs and charts
* Converting continuous data to categorical data
* Creating some contingency tables 


**At the end of the Future Me week, you will then export this workbook and upload it as evidence of your participation.** This will earn you your RISE points and your micro-accreditation for this course. Don't worry if not all the code is running perfectly (or at all!) before you submit, we just need to know that you gave everything a go.

When trying out the following exercises - you can work with any of the databases in the data folder. Of course, you can stick with the Titanic dataset if you would prefer to work with something you are familiar with. However, you should at least look over some of these other datasets so you can see the different ways data can be structured - and see if any interest you!

### If you get stuck:

1) **ALL** of the code in this notebook has been covered throughout your course. Check back through your workbook and your notes from previous days if you can't remember how to do something.

2) Try looking at the error message. It will often tell you the problem (you can google the words if you don't understand) but it will also point to the exact line you need to fix!

In [ ]:
# Before we start running any of the code we need to import all our modules 
# Run this cell at the beginning before you run any of the other cells 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
# Have you noticed that text with a hashtag in front of it will be ignored by Python? 
# This is a great way for programmers to leave notes to themselves about what they have done.
# Feel free to do the same and write notes to yourself throughout this workbook - just remember to use the hashtag!

## Day One: Introduction to Python and Python for Data Analysis
Task objectives:
- Work through basic Python problems 
- Run basic data methods

In [ ]:
# Try running this cell. What's wrong with it ? 
# Can you try fix the code so that the code will print a number 
# Hint: The error message is pointing to the problem!

x = 

print(x)

In [ ]:
# This exercise will test your knowledge of each data type. Fill in the required answers below.
# Hint: If you are unsure, you can go back to the material for Day 1 - it will tell you!
# Why not try and write your own version with the variables below !

# What data type would you store you name in ? 
name = 

# What data type would you use to store your age ? 
age = 

# What data type would be used for a grade between 1 and 0 ?
average_score = 

# What could you do to store your decision about whether you are taking a placement year or not?
placement_year =

In [ ]:
# Try inserting the above variables into the below bit of code - where do you think they need to go?
# Hint: Notice the use of curly brackets - what does that tell you about the conventions you need to use?
student_record = {}

In [ ]:
# If you are finding this easy so far, why not try inserting a list to add more student data to the student_record dictonary?

In the cell below, the titanic data has been imported and stored in a variable called 'titanic'. Run this cell to start working with the data.

You will notice there are several options below to import the data. We have set up one for you to use whilst connected to the internet.

However, if you want to be able to run this locally on your machine, you can select the option for this - just remember to put a hashtag (#) before the unwanted code so Python doesn't read it!

In [ ]:
# If you are having errors when trying to import the data make sure:
# - That you have ran the cell that imports the pandas library as pd
# - That your device have an internet connection
titanic = pd.read_csv('https://raw.githubusercontent.com/chroadhouse/FutureMeWorkbook/main/Data/titanic.csv')

In [ ]:
# Try running the method we use to test whether the data set has been imported correctly.

In [ ]:
# Try running the code to find the name of the columns on the data.

In [ ]:
# What code could we run to find the count of how many NaN's there are and what data types are present?

In [ ]:
# Use a method to create a table of all the stats for the quantitative columns.

## Day Two: Understanding and Visualising Data
Task objective:
- Create your own table of stats for a quantitative column of the dataset you have chosen

Today you can use any of the provided datasets, the details of which can be found below. 

*Reminder* - you can use **.column** to find out the names of the columns.

#### **Titanic**
The titanic dataset contains information about the people that were on the ship.

Use this link to import the CSV: https://raw.githubusercontent.com/chroadhouse/FutureMeWorkbook/main/Data/titanic.csv


#### **Cereal**
This dataset looks at cereals in America and their different properties.

Use this link to import the CSV: https://raw.githubusercontent.com/chroadhouse/FutureMeWorkbook/main/Data/cereal.csv


#### **Crime Survey**

This is a reduced verison of Crime Suvery Data for England and Wales.

Use the link to import the CSV: https://raw.githubusercontent.com/chroadhouse/FutureMeWorkbook/main/Data/CSEW.csv


#### **Video Games** 
A dataset on the best selling video games all over the world.

Copy of the link to import the CSV: https://raw.githubusercontent.com/chroadhouse/FutureMeWorkbook/main/Data/Video_Games_Sales.csv

In [ ]:
# Import your data set 

# Put a URL to the raw github webpage
data = pd.read_csv('')

# Make sure that your data has loaded correctly
data.head()

In [ ]:
# Use a function to find out all the column names here!

In [ ]:
# Create variables for mean, median, mode, max, min and standard deviation for a column
# Remember - all of this has been covered in the material provided for Day 2. If you're really stuck, we won't judge you if you copy and paste!







# Then create a table to store these varaibles

In [ ]:
# Create a table that stores the value counts of categorical data
# You can also try adding a second column that has the percentages if you're feeling ambitious (Hint: look at the Day Two Notebook)!

In [ ]:
# Create a Histogram on a column containing quantitative data
# Remember to label the x and y axis and give it a title

In [ ]:
# Create a Pie Chart that shows the relationship between two variables using percentages
# Don't forget labels and a title

In [ ]:
# Create a Bar Chart with some qualitative data

## Day Three: Cleaning data
Task objective:

- Clean the data set 

Not all datasets will always need to be cleaned. Sales data, for example, is often recorded autonatically and thus is unlikely to have any bits missing. Real-life data, on the other hand, is more likley to need cleaning. For example, data from surveys can be problematic, where the person may have left a question blank or interpreted the question incorrectly. Historical data can also pose problems, as information can be lost over time, such as in the titanic dataset.

For the Day 3 tasks you will need to use the **titanic dataset**. This will give you great practice cleaning data due to the information that has been lost over time.

*Reminder* - NaN stands for 'Not a Number' and is often used to represent a blank cell or missing data. Keep this in mind when appraising the dataset.

In [ ]:
titanic = pd.read_csv('https://raw.githubusercontent.com/chroadhouse/FutureMeWorkbook/main/Data/titanic.csv')

titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,Not Survive,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,Survived,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,Survived,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,Survived,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,Not Survive,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
# Which method would you run to find out how many values are missing in each column?

In [ ]:
# Now try cleaning the data.

# - Find the mean of a column that contains NaNs. Use this mean to replace the missing data.




# - Get the most frequent value for the value count. Use this to replace the NaN for categorical columns.





# - Drop any columns that are missing a lot of data.



# Run the method to check the value NaN's to see how well the data has been cleaned.

## Day Four: Contingency Tables & Conclusions
The objective of this task is to create some contingency tables. For this, we recommend using either the titanic data set or the dataset you chose to use for Day Two's data Visualisation

In [ ]:
# Create a contingency table between two categorical columns

Now you have visualised your data in a few different ways, you have a pretty good grasp about what it is showing you. Now it's time to think about **WHY**.

Think about the questions we posed about the Titanic dataset in the Day 4 notebook. In these sections, we made a conclusion about the data based on what a graph/chart/table was showing us, then we posed a question prompting you to think about why this might be the case.

Now consider the below questions in relation to your data - or use the visualisations you have made to come up with your own!

- Do any of your visualisations (graphs/tables/charts etc) show a relationship between two variables? If so, why do you think this relationship exists?

- Look at your categories. Is one category significantly (quantitatively) larger than another? Why do you think this may be?

- Look at the mode, median and mean of your data. What does this tell you about the dataset? What story does this tell you?

Simply double click on the cell below titled 'Conclusions' and enter your thoughts.

**Note** - There is no such thing as a wrong answer for this section. We simply want you to practice *interpreting* the results of data now that you have analysed it.

### Conclusions
**Note** Double Click to enter your conclusions here:

# Finished?

To upload this notebook:

-> click 'File'

-> 'Print' 

-> on the 'Printer' drop down bar, scroll down to 'Print as PDF' 

-> then click 'Print'.

*Can't seem to save as PDF? Don't Panic!*

You can also take screenshots of your work, copy them into a Word document, and submit that way.

# Develop your Skills Further...

Well done on completing this course. Python and Data Analysis are both skills that are in high demand amongst employers.

If you have enjoyed this intorduction to the subject, you should consider broadening your knowledge further. In a society that is placing more and more emphasis on digital skills, Python in particular is a brilliantly versatile one to have on your CV, showing:

* Your ability to solve problems
* Digital fluency
* Your motivation to learn

Programming is also one of the main subjects with a large number of detailed resources to help you learn and develop. Some of these resources even provide certificates as proof of your capability in programming. Below is a list of some of these resources that you can take advantage of if you wish to continue strengthening your knowledge.

* **FreeCodeCamp** - https://www.freecodecamp.org - Provides easy and intuative instruction with certificates to give credit for course completion offering courses such as:

  - Web development
  - Data Analysis using python
  - Scientific computing using python
  - Machine Learning (AI) using python
  - Algorithms and Data structures in Javascript

* **Linkedin Learning** - All MMU students have free access to LinkedIn Learning. It provides video courses and certificates linked to your LinkedIn account (this also automatically earns you Rise points too)!

* **CS Dojo** - Videos on Youtube that provide multiple resources aimed at beginners to try and encourage coding.

* **Rise** - It's also a good idea to keep an eye on the Rise website, as new courses are being added all the time. Currently, you can sign up for Python for Scientific Computing and TensorFlow for Artificial Intelligence with Stephen Lynch: https://rise.mmu.ac.uk/activity/python-for-scientific-computing-and-tensorflow-for-artificial-intelligence-3/

* Or you could also preorder Stephen Lynch's book, which is centered around Python for Artificial Intelligence and Scientific Computing: https://www.routledge.com/Python-for-Scientific-Computing-and-Artificial-Intelligence/Lynch/p/book/9781032258713#


And remember that even experts in Computer Science can encounter problems, it's what can make programming such a rewarding skill. If you do get stuck think about:
- Asking a friend for help
- Looking for an answer on the internet (programmers are people that are just good at googling!)
- Leave and come back to it (Have you ever suddenly noticed a mistake on an essay or an email when ou come back to it a day later? This can be the case for coding too! You can sometimes be staring at the bug without knowing).